<section id="about" class="welcome">
    <h3 class="heading">Our <span>Menu</span></h3>
    <h1 class="sub-heading">Popular dishes</h1>
 
    <div class="box-container">
       <div class="box">
           <div class="image">
               <img src="https://img.freepik.com/free-photo/top-view-delicious-noodles-concept_23-2148773774.jpg?w=996&t=st=1693196624~exp=1693197224~hmac=d08f3246c08cd1fb54bffbdbd941c10b0d959a153e49e0117df89c50cac851a3" alt="">
           </div>
 
           <div class="content">
             <h3>KOREAN FOOD</h3>
             <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat et dolor aspernatur ratione laborum odit iste tempore incidunt harum amet, vero accusamus rem distinctio rerum ad voluptates nesciunt adipisci. Ullam!</p>
             <a (click)="gotoKoreanFood()" class="btn">Read More</a>
           </div>
       </div>
 
       <div class="box">
         <div class="image">
             <img src="https://img.freepik.com/premium-photo/kitchen-german-food-hyper-realistic-photograpy-generative-ai_920594-19938.jpg?w=996" alt="">
         </div>
 
         <div class="content">
           <h3>JAPAN FOOD</h3>
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat et dolor aspernatur ratione laborum odit iste tempore incidunt harum amet, vero accusamus rem distinctio rerum ad voluptates nesciunt adipisci. Ullam!</p>
           <a (click)="gotoJapaFood()" class="btn">Read More</a>
         </div>
     </div>
 
     <div class="box">
       <div class="image">
           <img src="https://img.freepik.com/free-photo/top-view-fresh-delicious-vietnamese-food-table_181624-50337.jpg?w=996&t=st=1693196875~exp=1693197475~hmac=9602b7996255cd15bc29df1b6c50514bda528a3d1a58a3a2662b3af0713f1b79" alt="">
       </div>
 
       <div class="content">
         <h3>HOME FOOD</h3>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat et dolor aspernatur ratione laborum odit iste tempore incidunt harum amet, vero accusamus rem distinctio rerum ad voluptates nesciunt adipisci. Ullam!</p>
         <a (click)="gotoHomeFood()" class="btn">Read More</a>
       </div>
   </div>
    </div>
 </section>
 
 