<section class="contact">
    <h1>Contact With Us</h1>
    <p>We would love to respond to your queries and help you succed. Feel free to get in touch with us.</p>
    <div class="contact-box">
      <div class="contact-left">
          <h3>Send your request</h3>
          <form>
            <div class="input-row">
              <div class="input-group">
                <label for="name">Name</label>
                <input type="text" id="name" required placeholder="Name">
              </div>
              <div class="input-group">
                <label for="email">Email</label>
                <input type="email" id="email" required placeholder="Email">
              </div>
            </div>
            <div class="input-row">
              <div class="input-group">
                <label for="phone">Phone Number</label>
                <input type="text" id="phone" required placeholder="Phone Number">
              </div>
              <div class="input-group">
                <label for="subject">Subject</label>
                <input type="text" id="subject" required placeholder="Your Subject">
              </div>
            </div>

            <label for="message">Message</label>
            <textarea name="message" id="message" rows="5" placeholder="Your Message"></textarea>

            <button type="submit">Send</button>
          </form>
      </div>
      <div class="contact-right">
          <h3>Reach Us</h3>
          <table>
            <tr>
              <td>Email</td>
              <td>Admin@gmail.com</td>
            </tr>
            <tr>
              <td>Phone Number</td>
              <td>+84 328 479 555</td>
            </tr>
            <tr>
              <td>Address</td>
              <td>No.1, 235 Duy Tan, Dich Vong Hau, Cau Giay, Hanoi</td>
            </tr>
          </table>
      </div>
    </div>
</section>