<section class="footer">
    <div class="map">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d782.876264675322!2d105.78332446363396!3d21.032362039837725!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135abfe95ba0d93%3A0x8ab9e245cb41e1f0!2zVMOyYSBuaMOgIEtpbSDDgW5o!5e0!3m2!1svi!2s!4v1693215759604!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
    <div class="row">
      <div class="footer-col">
        <h4>Restaurant</h4>
        <ul>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Menu</a></li>
          <li><a href="#">Contacts Us</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Get Help</h4>
        <ul>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Shipping</a></li>
          <li><a href="#">returns</a></li>
          <li><a href="#">payment options</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Follow Us</h4>
        <div class="social-links">
          <a href="#"><fa-icon [icon]="faceIcon"></fa-icon></a>
          <a href="#"><fa-icon [icon]="youIcon"></fa-icon></a>
          <a href="#"><fa-icon [icon]="twichIcon"></fa-icon></a>
          <a href="#"><fa-icon [icon]="instaIcon"></fa-icon></a>
        </div>
      </div>
    </div>
  </section>