.footer{
    background: #222222;
    padding: 70px 0;
}

.footer .map iframe{
    width: 100%;
}

ul{
    list-style: none;
}

.footer .row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.footer-col{
    padding: 0 15px;
    width: 33% !important;
}

.footer-col h4{
    font-size: 2.5rem;
    color: #222222;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
    color: #fff;
}

.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 100px;
}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}

.footer-col ul li a{
    font-size: 1.5rem;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition:  all .3s ease;
    color: #fff;
}

.footer-col ul li a:hover{
    padding-left: 8px;
    text-decoration: underline;
}

.footer-col .social-links a{
    display:  inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, .2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #fff;
    transition: all .5 ease;
}

.footer-col .social-links a:hover{
    color: #24262b;
    background: #fff;
}
