<swiper-container slides-per-view="1" speed="500" autoplay>
    <swiper-slide>
     <div>
      <img src="https://img.freepik.com/premium-photo/food-set-dishes-white-background-rustic-style-top-view-free-space-your-text_187166-48761.jpg?w=1480" alt="">
     </div>
    </swiper-slide>
    <swiper-slide>
      <div>
      <img src="https://img.freepik.com/premium-photo/set-seafood-dishes-black-background-pasta-bulgur-rice-couscous-top-view-free-space-your-text_187166-9840.jpg?w=1480" alt="">
      </div>  
    </swiper-slide>
    <swiper-slide>
      <div>
      <img src="https://img.freepik.com/premium-photo/set-food-plates-pasta-chicken-meat-mushrooms-dietary-food-bowl-buddha-top-view-free-space-text_187166-20550.jpg?w=1480" alt="">
      </div> 
    </swiper-slide>
    <swiper-slide>
      <div>
      <img src="https://img.freepik.com/premium-photo/set-food-plates-pasta-chicken-meat-mushrooms-dietary-food-bowl-buddha-top-view-free-space-text_187166-10148.jpg?w=1480" alt="">
      </div>  
    </swiper-slide>
  </swiper-container>